.noTransitionText{
  position: relative;
color: gray; 
font-size: 1em;
opacity:0;
}

.transitionLeftTextOnViewport{
  position: relative;
  font-size: 1em;
  animation-name: bounceLeft; 
  animation-duration: 2s; 
}  

@keyframes bounceLeft {
  0% {transform: translateX(-40vw);} 
  80% {transform: translateX(0.5vw);} 
  85% {transform: translateX(-0.5vw);} 
  90% {transform: translateX(0.1vw);} 
  95% {transform: translateX(-0.1vw);} 
  100% {transform: translateX(0vw);} 
  0% {opacity:0; } 
  100% {opacity:1; }
} 

/* .transitionTextOnViewport:hover{
  position: relative;
  left:-20%;
color: rgb(128, 32, 32); 
text-decoration: underline;
transition: width 1s, height 1s, background-color 1s, transform 1s;
} */