  .portfolio {
  margin: 0 auto;
  height: 140vh;
  display: block;
  }
  .divPortfolio {
    float: left;
  }

  .insideDivPortfolio {
    float: left;
    background-color: red;
  }


  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .temporal{
      color: white;
      display: none !important;
    }
    .w-25{
      width:100vw !important;
      display: initial;
      padding: 0px;
    }
    .w-50{
      width:100vw !important;
      display: initial;
      padding: 0px;
    }
    .w-75{
      width:100vw !important;
      display: initial;
      padding: 0px;
    }
    .w-100{
      width:100vw !important;
      display: initial;
      margin: 0rem !important;
    }
    .m-5.m-4.m-3.m-2.m-1{
      margin: 0rem!important;
    }
    .p-5.p-4.p-3.p-2.p-1{
      padding: 0rem!important;
    }
    .b-5.b-4.b-3.b-2.b-1{
      border: 0rem!important;
    }
    p {
      text-align:justify;
    }
    .mobileColorTitle {
      background-color: rgb(29, 107, 196);
      color: white;
      text-align: center;
      justify-content: center;
      font-size: 1.5em;
    }
    .mobileColorTech {
      background-color: rgb(196, 124, 29);
      color: white;
      text-align: center;
      justify-content: center;
      font-size: 1.5em;
    }
    .mobileColorLink {
     text-decoration-line: underline;
    }
}