  .portfolio {
    margin: 0 auto;
  height: 140vh;
  background: rgb(211, 211, 211);
  background: linear-gradient(to bottom right, rgb(235, 238, 238), rgba(211, 215, 226, 0.972));
  display: block;
  }

  .divPortfolio {
    float: left;
  }

  .insideDivPortfolio {
    float: left;
    background-color: red;
  }