  .portfolio {
  margin: 0 auto;
  height: 140vh;
  display: block;
  perspective: none;
  /* background: linear-gradient(to bottom right, rgb(235, 238, 238), rgba(211, 215, 226, 0.972)); */
  }

  /* .portfolioBackground1{
    background: linear-gradient(to bottom right, rgb(235, 238, 238), rgba(211, 215, 226, 0.972));
  }
  .portfolioBackground2{
    background: linear-gradient(to bottom right, rgb(65, 168, 168), rgba(211, 215, 226, 0.972));  
  }
  .portfolioBackground3{
    background: linear-gradient(to bottom right, rgb(65, 168, 120), rgba(211, 215, 226, 0.972));  
  }
  .portfolioBackground4{
    background: linear-gradient(to bottom right, rgb(65, 67, 168), rgba(211, 215, 226, 0.972));  
  }
  .portfolioBackground5{
    background: linear-gradient(to bottom right, rgb(168, 94, 65), rgba(211, 215, 226, 0.972));  
  }
  .portfolioBackground6{
    background: linear-gradient(to bottom right, rgb(94, 168, 65), rgba(211, 215, 226, 0.972));  
  } */
  .divPortfolio {
    float: left;
  }

  .insideDivPortfolio {
    float: left;
    background-color: red;
  }


  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .w-25{
      width:100vw !important;
      display: initial;
      padding: 1vw !important;
    }
    .w-50{
      width:100vw !important;
      display: initial;
      padding: 1vw !important;
    }
    .w-75{
      width:100vw !important;
      display: initial;
      padding: 1vw !important;
    }
    .w-100{
      width:100vw !important;
      display: initial;
      padding: 1vw !important;
    }
    .section
    {
      width:100vw !important;
      display: initial;
      padding: 1vw !important;
    }
}