.bigSideText{
  position: relative;
  left:-20%;
  color: gray; 
  font-size: 20vw;
  transform: rotate(30deg);
  transition: width 0.5s, height 0.5s, background-color 0.5s, transform 0.5s;
}

.bigSideTextOnViewport{
  position: relative;
  left:-20%;
  font-size: 20vw;
  font-weight: bolder;
  color: rgb(128, 32, 32); 
  text-decoration: underline;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: width 0.5s, height 0.5s, background-color 0.5s, transform 0.5s;
}  

.bigSideTextOnViewport:hover{
  position: relative;
  left:-20%;
  color: rgb(31, 123, 146); 
  text-decoration: underline;
  transition: width 1s, height 1s, background-color 1s, transform 1s;
}

@media only screen and (max-width: 768px) {
  .bigSideText{
    position: relative;
    left:0%;
    color: gray; 
    font-size: 50vw;
    transform: rotate(0deg);
    transition: width 0.5s, height 0.5s, background-color 0.5s, transform 0.5s;
  }
  .bigSideTextOnViewport{
    position: relative;
    left:15vw;
    font-size: 50vw;
    font-weight: bolder;
    color: rgb(128, 32, 32); 
    text-decoration: underline;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: width 0.5s, height 0.5s, background-color 0.5s, transform 0.5s;
  } 
  .bigSideTextOnViewport:hover{
    position: relative;
    left:15vw;
    color: rgb(31, 123, 146); 
    text-decoration: underline;
    transition: width 1s, height 1s, background-color 1s, transform 1s;
  }
}
