.leftMessageContainer {
  float: left;
}

.bigSideText{
  position: relative;
  left:-20%;
  color: gray; 
  font-size: 30em;
  transform: rotate(30deg);
  transition: width 0.5s, height 0.5s, background-color 0.5s, transform 0.5s;
}

.bigSideTextOnViewport{
  position: relative;
  left:-20%;
  font-size: 30em;
  font-weight: bolder;
  color: rgb(128, 32, 32); 
  text-decoration: underline;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: width 0.5s, height 0.5s, background-color 0.5s, transform 0.5s;
}  

.bigSideTextOnViewport:hover{
  position: relative;
  left:-20%;
  color: rgb(31, 123, 146); 
  text-decoration: underline;
  transition: width 1s, height 1s, background-color 1s, transform 1s;
}