.noTransitionText{
  opacity:0;
  position: relative;
color: gray; 
font-size: 0em;
justify-content: center;
}

.fadeInTextOnViewport{
  position: relative;
  animation-name: fadeIn; 
  animation-duration: 2s; 
  font-size: 2.5em;
  justify-content: center;
}  

@keyframes fadeIn {
  0% {opacity:0; font-size: 0em;} 
  100% {opacity:1; font-size: 2.5em;}
} 

/* .transitionTextOnViewport:hover{
  position: relative;
  left:-20%;
color: rgb(128, 32, 32); 
text-decoration: underline;
transition: width 1s, height 1s, background-color 1s, transform 1s;
} */