.noTransitionText{
  position: relative;
color: gray; 
font-size: 1em;
opacity:0;
}

.transitionRightTextOnViewport{
  position: relative;
  font-size: 1em;
  animation-name: bounceRight; 
  animation-duration: 2s;
  transition-duration: 0.5s; 
}  
.transitionRightTextOnViewport:hover {
 transform: scale(1.05);
 transition-duration: 0.5s;
}

@keyframes bounceRight {
  0% {transform: translateX(40vw);} 
  80% {transform: translateX(-0.5vw);} 
  95% {transform: translateX(0.1vw);} 
  100% {transform: translateX(0vw);} 
  0% {opacity:0; } 
  100% {opacity:1; }
} 

@media only screen and (max-width: 768px) {
  .transitionRightTextOnViewport{
    position: relative;
    font-size: 1em;
    animation-duration: 0s;
    transition-duration: 0s; 
  } 
}