  .About {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 100vh;
  width:100vw;
  background: linear-gradient(to bottom right, #45C8C9, rgba(2, 19, 75, 0.972));
  /* background: linear-gradient(to bottom right, rgb(2, 7, 7), rgba(9, 16, 37, 0.972));  */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.137), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  }



.myName {
  font-size: 5.5em;
  color: aliceblue;
  transform: rotate(-30deg);
  display: block;
  
}
  /* .About:before {
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-0.5deg);
    transform-origin: 100%;
    z-index: -1;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.096), 0 6px 10px 0 rgba(0, 0, 0, 0.082), 0 6px 10px 0 rgba(0, 0, 0, 0.082);
  } */
  /* .About:after {
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-3.5deg);
    transform-origin: 100%;
    z-index: -1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.137), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  } */

  
