  
  .About {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 100vh;
  background: linear-gradient(to bottom right, #45C8C9, rgba(2, 19, 75, 0.972));
  overflow-x: hidden;
  }
  /* .About::before {
    position:absolute;
    content: " ";
    left:-100%;
    bottom:0;
    width:150vw;
    height:100vh;
    box-shadow: 0px -10px 500px #221b1b;
    background-color: rgb(17, 30, 44);
    transform: skew(-45deg);

    }
    .About::after {
      position:absolute;
      content: " ";
      left:-50%;
      bottom:50%;
      width:70vw;
      height:50vh;
      box-shadow: 20px 10px 500px 50px #221b1b;
      background: linear-gradient(to bottom right, rgb(36, 71, 71), rgba(2, 19, 75, 0.972));
      transform: translateX(100vw);
      z-index: ;
      } 
  */


.myName {
  font-size: 4vw;
  color: aliceblue;
  transform: rotate(-40deg);
  display: block;
  
}
  /* .About:before {
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-0.5deg);
    transform-origin: 100%;
    z-index: -1;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.096), 0 6px 10px 0 rgba(0, 0, 0, 0.082), 0 6px 10px 0 rgba(0, 0, 0, 0.082);
  } */
  /* .About:after {
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-3.5deg);
    transform-origin: 100%;
    z-index: -1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.137), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  } */

  
