.noTransitionText{
  position: relative;
color: gray; 
font-size: 1em;
opacity:0;
}

.transitionTextOnViewport{
  position: relative;
  font-size: 1em;
  animation-name: bounce; 
  animation-duration: 2s; 
}  

@keyframes bounce {
  0% {transform: translateY(15vh);} 
  80% {transform: translateY(-0.5vh);} 
  85% {transform: translateY(0.5vh);} 
  90% {transform: translateY(-0.1vh);} 
  95% {transform: translateY(0.1vh);} 
  100% {transform: translateY(0vh);} 
  0% {opacity:0; } 
  100% {opacity:1; }
} 

/* .transitionTextOnViewport:hover{
  position: relative;
  left:-20%;
color: rgb(128, 32, 32); 
text-decoration: underline;
transition: width 1s, height 1s, background-color 1s, transform 1s;
} */