/* .displayContainer {
  background: rgb(119, 148, 192);
  justify-content: center;
  border-radius:2px;
  width:100vw;
} */

.displayInfoContainer {
  border-radius:2px;
}
.displayInfoCard{
  background-color: rgb(7, 35, 59);
  height: 50vh;
  color: antiquewhite;
  border-width:5px;
  border-style:solid;
  border-color:rgb(255, 255, 255);
  display: inline-block;
  transition-duration: 1s;
}

  