/* .displayContainer {
  background: rgb(119, 148, 192);
  justify-content: center;
  border-radius:2px;
  width:100vw;
} */

.displayInfoContainer {
  border-radius:2px;
  margin: 0 auto;
  text-align:center;
  display: block;
}
.displayInfoCard{
  opacity: 0.5;
  background-color: rgb(7, 35, 59);
  height: 75vh;
  color: antiquewhite;
  border-width:5px;
  border-style:solid;
  border-color:rgb(255, 255, 255);
  display: inline-block;
  transition-duration: 1s;
}

.displayInfoCard:hover{
  opacity: 1;
}

.displayInfoDiv  {
  float: left;
}


  