  .AppHome {
  text-align: center;
  padding: 0;
  margin-top: 0px;
  min-height: 40vh;
  width:100vw;
  background: rgb(8, 2, 2);
  }
  /* .AppHome:after {
    background:rgb(4, 116, 133);
    bottom: -10%;
    content: '';
    display: block;
    height: 105%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(3.5deg);
    transform-origin: 100%;
    z-index: -1;
  } */
  