  .AppHome {
  text-align: center;
  padding: 0;
  min-height: 40vh;
  width:100vw;
  background: rgb(8, 2, 2);
  }
  .portfolioTitle{
    margin-top: 5px;
    padding: 5px;
    font-size: 2.5em;
    color: rgba(0, 123, 231, 0.555);
  }
  /* .AppHome:after {
    background:rgb(4, 116, 133);
    bottom: -10%;
    content: '';
    display: block;
    height: 105%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(3.5deg);
    transform-origin: 100%;
    z-index: -1;
  } */
  