nav 
{
    background:rgb(228, 218, 215);
    margin-right: 0px;
}

.navbar-brand{
    font-size: 1em;
    color: white;
    -webkit-transition: 2s; /* For Safari 3.1 to 6.0 */
    transition-duration: 2s;
}

.navbar-brand:hover {
    color: #1D3461;
    font-size: 2em;
}
