nav 
{
    background:rgba(216, 50, 0, 0);
    margin-right: 0px;
}

.navbar-brand{
    font-size: 1em;
    color: white;
    transition-duration: 2s;
}

.navbar-brand:hover {
    color: rgb(8, 28, 68);
    background-color: white;
    font-size: 2em;
}

@media only screen and (max-width: 768px) {
    nav{
        padding: 0 !important;
        margin: 0 !important;
        border:0 !important;
    }
}