nav 
{
    background:rgba(216, 50, 0, 0);
    margin-right: 0px;
}

.navbar-brand{
    font-size: 1em;
    color: white;
    -webkit-transition: 2s; /* For Safari 3.1 to 6.0 */
    transition-duration: 2s;
}

.navbar-brand:hover {
    color: rgb(140, 168, 224);
    font-size: 2em;
}
