/* .displayContainer {
  background: rgb(119, 148, 192);
  justify-content: center;
  border-radius:2px;
  width:100vw;
} */

.snContainer {
  height: 100vh;
  width: 100vw;
  text-align: center;
display: block;
background-color: rgb(54, 54, 54);
}

.snHolder{
  vertical-align: middle;
  float: left;
  color: white;
}

.bigContact{
  position: relative;
  top:20%;
  left:20%;
  font-size: 10vw;
  font-weight: bolder;
  color: rgb(255, 255, 255); 
  text-decoration: underline;
  transform: rotate(90deg);
  transition: width 0.5s, height 0.5s, background-color 0.5s, transform 0.5s;
}  

.bigContact:hover{
  color: rgb(146, 31, 31); 
  transition: width 1s, height 1s, background-color 1s, transform 1s;
}
