/* .displayContainer {
  background: rgb(119, 148, 192);
  justify-content: center;
  border-radius:2px;
  width:100vw;
} */

.displayHolder {
  background: rgba(12, 65, 144, 0.185);
  border-radius:2px;
  width:100vw;
  height: 50vh;
}

.displayItems {
  bottom: 30%;
  width: 160px;
  height: 180px;
  background: rgb(228, 232, 238);
  font-size: 0.8em;
  color: white;
  border-radius: 2px;
  display: auto;
}

  